/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para o corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.9;
    padding: 50px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 0px; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centralizar conteúdo do cabeçalho */
}

header .h12-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

header h1 {
    display: flex;
    color: white; /* Cor do texto do título */
    
    /*justify-content: center;
    /*align-items: center;*/
    /*align-content: center;*/
    
}

header h2 {
    color: rgb(247, 172, 12); /* Cor do texto do título */
    font-size: 0.9rem;
    margin-left: 20px;
}

/* Estilos para o menu de navegação */
nav {
    background-color: rgb(247, 172, 12); /* Cor de fundo do menu de navegação */
    display: flex;
    justify-content: center;
    padding: 5px;
}

nav ul {
    list-style-type: none; /* Remover marcadores de lista */
    padding: 0; /* Remover espaçamento interno */
    background-color: rgb(247, 172, 12); /* Cor de fundo do menu de navegação */
    display: flex;
}

nav ul li {
    display: inline; /* Exibir itens de lista na mesma linha */
    margin-right: 20px; /* Espaçamento entre itens de lista */
}

nav ul li a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: rgb(12, 0, 0); /* Cor do texto dos links */
}

nav a:hover{
    color: white;
    text-decoration:none;
    transition: color 0.3 ease;
}

/* Estilos para o conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px; /* Espaçamento interno do conteúdo principal */
    max-width: 800px;
    margin: 0 auto;
}


/*images CSS */

  .image-container{
    width: 550px;
    height: auto;
  }

  img{
    width: 150px;
    height: auto;
  }

  
  .text-overlay {
    position: absolute;
    top: 50%; /* Position the text in the middle vertically */
    left: 50%; /* Position the text in the middle horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    text-align: center; /* Center-align the text */
    color: white; /* Text color */
  }
  
  .text-overlay h2 {
    margin-top: 0; /* Remove default margin */
  }
  
  .text-overlay p {
    margin-bottom: 0; /* Remove default margin */
  }
/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    padding: 20px 0; /* Espaçamento interno do rodapé */
    text-align: center; /* Centralizar conteúdo do rodapé */
    color: white; /* Cor do texto do rodapé */
}
