/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para o corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.9;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 20px 0; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centralizar conteúdo do cabeçalho */
}

header .h12-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

header h1 {
    display: flex;
    color: white; /* Cor do texto do título */
    
    /*justify-content: center;
    /*align-items: center;*/
    /*align-content: center;*/
    
}

header h2 {
    color: rgb(247, 172, 12); /* Cor do texto do título */
    font-size: 0.9rem;
    margin-left: 20px;
}

/* Estilos para o menu de navegação */
nav {
    background-color: rgb(172, 103, 0); /* Cor de fundo do menu de navegação */
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none; /* Remover marcadores de lista */
    padding: 0; /* Remover espaçamento interno */
    background-color: rgb(172, 103, 0); /* Cor de fundo do menu de navegação */
    display: flex;
}

nav ul li {
    display: inline; /* Exibir itens de lista na mesma linha */
    margin-right: 20px; /* Espaçamento entre itens de lista */
}

nav ul li a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: white; /* Cor do texto dos links */
}

/* Estilos para o conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Espaçamento interno do conteúdo principal */
}

/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    padding: 20px 0; /* Espaçamento interno do rodapé */
    text-align: center; /* Centralizar conteúdo do rodapé */
    color: white; /* Cor do texto do rodapé */
}
