:root{
	--primary:  #159fd6;
	--secundary: rgb(0, 0, 0);
	--background-cards: rgb(255, 255, 255);
	--border-color-cards: rgb(236, 236, 236);
}
* {
	margin: 0;
	padding: 3px;
	box-sizing: border-box;
    font-family: poppins, sans-serif;
}

h1 {
	text-align: left;
	font-size: 1.5rem;
	margin-left: 1rem;
	    
}
section h2 {
	font-size: 1.2rem;
	color: var(--primary);
	margin: 1rem;
	text-align: center;
	
}

.res-grid section {
    display: flex;
    place-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
	margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
	/*border-color: var(--border-color-cards);*/
    background-color: var(--background-cards);
    box-shadow: 5px 5px 10px;
    overflow: hidden; /* Adicione overflow: hidden para evitar que a imagem ultrapasse o contêiner */
}

.res-grid img {
    object-fit: cover; /* Garante que a imagem mantenha suas proporções e preencha o espaço disponível */
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
    height: 100%; /* Garante que a imagem ocupe toda a altura do contêiner */
}


.res-grid h3, .grid img {
    font-size: 2rem;
    padding: 1rem 0;
}

.res-grid img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

ul{
	max-width: 700px;
	margin: 1rem auto;
    justify-content: center;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute; /* Defina a posição absoluta */
	top: 1rem; /* Posicione 1rem do topo */
	right: 1rem; /* Posicione 1rem da direita */
	cursor: pointer; /* Adicione cursor pointer */
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #ffffff;
	background-color: var(--secundary);
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}
.navigation a:hover {
	background-color: #159fd6;
	color: #ffffff; 
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "";  /* just a wayfinding symbol for the user */
}




footer{
    background-color: black;
    color: white;
    text-align: center;
}



/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
        
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	
	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	
}
