*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

/*--------fildset styles--------------*/

fieldset{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: .5rem 4%;
    font-size: .9rem;

}
/*-------------fieldset overal rating------*/
.overal{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    

}

.overal label{

    display: block;
    text-align: center;
    margin-bottom: 5px;

}

fieldset.exp .checkall {

    font-size: 12px;
   
}

/*-------------fieldset productinfo------*/
.productinfo{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
    
 
}



/*-------------fieldset your experience------*/

.exp{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    text-align: center;
    justify-content: center;
    

}

.exp legend{
  
    text-align: left;
}

legend{

    font-weight:600;
    padding: 0 1.8rem;
        
}

/*----------h1 Product Review style---*/

.form-delimitations h1 .title {
    color: rgb(130, 255, 14);
    font-size: 25px;
    font-weight: 700;
    background-color: black;
    padding: 0 .5rem;
}

h1{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5px;
    
}

p {
    text-align: center;
}

/*----------form delimitations------------*/

section.form{

    padding: 20px 2%;
}

/*---------max-width form------------*/

form{
   
    max-width: 600px;
    margin: 0 auto;/*center the form*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

/*----------input styles----------*/

form input{
    width: 100%;
    background-color: rgb(130, 255, 14);
    border: 0;
    outline: 0;
    padding: 8px 15px;
    border-radius: 10px;


}

form textarea{
    width: 100%;
    background-color: rgb(130, 255, 14);
    border: 0;
    outline: 0;
    padding: 8px 15px;
    border-radius: 10px;
    resize: none;
    height: 80px;


}

/*----------buttom styles------*/

form .btn-submit{

   text-align: center;
   width: 180px;
   margin: 0 auto;
  
   
}

form .btn-submit input{

    cursor: pointer;
    font-size: 18px;
    height: 55px;
    
}

button:hover, form .btn-submit input:hover{


background: black;
color: rgb(130, 255, 14);
font-weight: 600; 

}

/*--------textarea styles-----------*/

/* Estilo para a barra de rolagem */
textarea::-webkit-scrollbar {
    width: 12px; /* largura da barra de rolagem */
}

/* Estilo para a trilha da barra de rolagem */
textarea::-webkit-scrollbar-track {
    background: rgb(130, 255, 14); /* cor do fundo da trilha */
    border-radius: 10px; /* bordas arredondadas */
}

/* Estilo para o polegar da barra de rolagem */
textarea::-webkit-scrollbar-thumb {
    background: #888; /* cor do polegar */
    border-radius: 10px; /* bordas arredondadas */
    border: solid rgb(130, 255, 14);
}

/* Estilo para o polegar da barra de rolagem ao passar o mouse */
textarea::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do polegar ao passar o mouse */
}

/*----------selectAproduct style----------*/
select{

    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(130, 255, 14);
    border-radius: 10px;
    background-color: rgb(130, 255, 14);
    height: 35px;
    padding-left: 0.5rem;

}

/*--------delimitations footer------------------*/
footer{

    padding: 10px 4%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;

}