* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: poppins, sans-serif;
}

h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
    font-family: poppins, sans-serif;
}
section h2 {
	font-size: 1.2rem;
	color: #159fd6;
	margin: 1rem;
	text-align: center;
	
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




nav{
	max-width: 700px;
	margin: 1rem auto;
    justify-content: center;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute; /* Defina a posição absoluta */
	top: 1rem; /* Posicione 1rem do topo */
	right: 1rem; /* Posicione 1rem da direita */
	cursor: pointer; /* Adicione cursor pointer */
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #ffffff;
	background-color:rgb(0, 0, 0);
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}
.navigation a:hover {
	background-color: #159fd6;
	color: #ffffff; 
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    flex: 1 1 calc(33.333% - 20px); /* 3 figuras por linha com espaço de 20px */
    max-width: 300px; /* Ajuste conforme necessário */
    margin: 10px; /* Adiciona espaçamento entre as figuras */
    text-align: center;
}

figure img {
    width: 100%;
    height: 200px; /* Defina a altura desejada */
    object-fit: cover; /* Garante que as imagens mantenham a proporção e se ajustem ao contêiner */
}

feColorMatrix figcaption {
    margin-top: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}



/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
        
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
        color: black;
        
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	
}
